<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="../asset/files/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="../asset/css/dashboard.css">
</head>
<body onload="onLoad()">
    <h2 id="scan">Registered User List</h2>
    <h1>Crafting Magical Experiences</h1>
    <img src="../asset/Screens/logo.png" id="logo" alt="">
    <div class="table-wrapper-scroll-y my-custom-scrollbar">
        <table class="table">
        </table>
    </div>
    <section>
        <nav aria-label="Page navigation example" style="display: none;">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#" onclick="getPage(1)">1</a></li>
                <li class="page-item"><a class="page-link" href="#" onclick="getPage(2)">2</a></li>
                <li class="page-item"><a class="page-link" href="#" onclick="getPage(3)">3</a></li>
                <li class="page-item"><a class="page-link" href="#" onclick="getPage(4)">4</a></li>
                <li class="page-item"><a class="page-link" href="#" onclick="getPage(5)">5</a></li>
                <li class="page-item"><a class="page-link" href="#" onclick="getPage(6)">6</a></li>
                <li class="page-item"><a class="page-link" href="#" onclick="getPage(7)">7</a></li>
                <li class="page-item"><a class="page-link" href="#" onclick="getPage(8)">8</a></li>
                <li class="page-item"><a class="page-link" href="#" onclick="getPage(9)">9</a></li>
                <li class="page-item"><a class="page-link" href="#" onclick="getPage(10)">10</a></li>
            </ul>
        </nav>
    </section>
    <script src="../asset/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
    <script src="../asset/js/dashboard.js"></script>
</body>
</html>