<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WEL COME</title>
    <link rel="stylesheet" href="../asset/css/welcome.css">
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js" integrity="sha512-BNaRQnYJYiPSqHHDb58B0yaPfCu+Wgds8Gp/gU33kqBtgNS4tSPHuGibyoeqMV/TJlSKda6FXzoEyYGjTe+vXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript" src="/asset/files/instascan.min.js" ></script>	
</head>
<body>
    <h1 >Crafting Magical Experiences</h1>
    <h2 id="scan">Scan Your QR</h2>
    <img src="../asset/Screens/logo.png" id="logo" alt="">
    <h3 id="msg" style="display: none;"> <strong id="name"></strong> <br> WEL-COME TO CRAFTECH360</h3>
    <video id="preview"></video>
    <button id="home" type="button"  onclick="location.reload()" style="display: none;"><i class="fa fa-home fa-2x"></i></button>
    <div  style="display: none;" id="container" class="container" role="status" id="loading">
        <span class="spinner spinner--dotted"></span>
    </div>
    <script src="../asset/js/welcome.js"></script>
</body>
</html>